<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="notice">
  <select id="noticeList" resultType="notice">
     	SELECT A.*,(SELECT COUNT(*) 
     				FROM NOTICEATTACHMENT
     				WHERE NOTICENO=A.NOTICENO) AS FILECOUNT
        FROM NOTICE A 
        WHERE NOTICESTATUS='Y' ORDER BY NOTICEDATE DESC
   </select>

   <select id="noticeCount" resultType="_int">
      SELECT COUNT(*) FROM NOTICE
   </select>
   <select id="noticeView" parameterType="_int" resultType="notice">
		SELECT * FROM NOTICE WHERE NOTICENO=#{no} ORDER BY NOTICEDATE DESC
	</select>

 	<insert id="noticeInsert" parameterType="map">
 		INSERT INTO NOTICE VALUES(SEQ_NOTICE_NO.NEXTVAL,
					  #{noticeWriter},#{noticeTitle},
					  #{noticeContent},DEFAULT,DEFAULT,DEFAULT )
	 	<selectKey keyProperty="noticeNo" resultType="string" order="AFTER">
	 		SELECT SEQ_NOTICE_NO.CURRVAL FROM DUAL
	 	</selectKey>
	 </insert>
  
	<insert id="noticeAttachment" parameterType="noticeAttachment">
  	INSERT INTO NOTICEATTACHMENT VALUES(SEQ_NOTICEATTACHMENTNO.NEXTVAL,
  								  #{noticeNo},#{originalFilename},
  								  #{renamedFilename},DEFAULT,DEFAULT,DEFAULT )
  </insert>
   <select id="selectNoticeFile" parameterType="_int" resultType="noticeAttachment">
  		SELECT * FROM NOTICEATTACHMENT WHERE NOTICENO=#{no}
  </select>
  <update id="noticeDelete" parameterType="notice">
 	 UPDATE NOTICE SET NOTICESTATUS='N' WHERE NOTICENO=#{no}
	</update>
</mapper>
