<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="notice">
  <select id="noticeList" resultType="notice">
     	SELECT * FROM NOTICE WHERE NOTICESTATUS='Y' ORDER BY NOTICEDATE DESC
    </select>
    
    <!-- 돌보미 찾기 게시판 글개수 -->
    <select id="noticeCount" resultType="_int">
       SELECT COUNT(*) FROM NOTICE
    </select>
</mapper>
