<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ask">
	<select id="selectAskCount" resultType="_int">
		SELECT COUNT(*) FROM ASK ORDER BY ASKDATE DESC
	</select>
	
	<select id="selectAskList" resultType="ask">
		SELECT * FROM ASK
	</select>
	
	<insert id="insertAsk" parameterType="ask">
		INSERT INTO ASK VALUES(SEQ_ASKNO.NEXTVAL,#{askWriter},#{askTitle},#{askContent},SYSDATE,NULL,NULL,NULL,NULL)
	</insert>
</mapper>
