<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="rv">
  
   <!-- 접수하기 -->
    <insert id="insertReservation" parameterType="reservation">
       INSERT INTO CARECOMMENT VALUES(SEQ_RESERVNO.NEXTVAL, 
                               #{memberNo}, #{hospitalNo},#{message},
                                #{office},#{items})
    </insert>
    
  
    
    
    
</mapper>