<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="care">
  
  <!-- 돌보미 찾기 게시판 페이징처리 -->
    <select id="careNotice" resultType="care">
     	SELECT * FROM CARENOTICE WHERE CARESTATUS='Y' ORDER BY CAREDATE DESC
    </select>
    
    <!-- 돌보미 찾기 게시판 글개수 -->
    <select id="careCount" resultType="_int">
       SELECT COUNT(*) FROM CARENOTICE
    </select>
    
  <!--   돌보미 글 등록하기 -->
    <insert id="insertCare" parameterType="map">
       INSERT INTO CARENOTICE VALUES(SEQ_CARENOTICE.NEXTVAL,
                            #{careTitle},#{careWriter},
                            #{careContent},DEFAULT,DEFAULT,DEFAULT)
       
       <selectKey keyProperty="careNo" resultType="String" order="AFTER">
          SELECT SEQ_CARENOTICE.CURRVAL FROM DUAL
       </selectKey>
    </insert>
    
   <!-- 돌보미 첨부파일 등록하기 -->
    <insert id="insertAttachment" parameterType="attachment">
       INSERT INTO CAREATTACHMENT VALUES(SEQ_ATTACHMENT.NEXTVAL, 
                               #{careNo}, #{originalFilename},
                                #{renamedFilename},DEFAULT,DEFAULT,
                                DEFAULT)
    </insert> 
    
    <!--돌보미 상세페이지  -->
    <select id="careView" parameterType="_int" resultType="care">
    	SELECT * FROM CARENOTICE WHERE CARENO=#{cno}
    </select> 
     
    <select id="selectCareFile" parameterType="_int" resultType="attachment">
    	SELECT * FROM CAREATTACHMENT WHERE CARENO=#{cno}
    </select>
  	
  	
   <!--돌보미 수정페이지  -->
    <select id="updateView" parameterType="_int" resultType="care">
    	SELECT * FROM CARENOTICE WHERE CARENO=#{no}
    </select> 
    
     <select id="updateViewFile" parameterType="_int" resultType="attachment">
    	SELECT * FROM CAREATTACHMENT WHERE CARENO=#{no}
    </select> 
  	
  	<!--돌보미 수정하기 -->
  	<update id="updateCare" parameterType="care">
		UPDATE CARENOTICE SET CARETITLE=#{careTitle},CARECONTENT=#{careContent} WHERE CARENO=#{no}		
	</update>
	
	 <!-- 돌보미 첨부파일 등록하기 -->
    <update id="updateCareAttachment" parameterType="attachment">
       UPDATE CAREATTACHMENT SET ORIGINALFILENAME=#{originalFilename},
                                RENAMEDFILENAME=#{renamedFilename},UPLOADDATE=DEFAULT WHERE CARENO=#{careNo}
                                
    </update> 
	

  	<!-- 돌보미 삭제 -->
  	<update id="deleteCare" parameterType="care">
		UPDATE CARENOTICE SET CARESTATUS='N' WHERE CARENO=#{no}
	</update>
   
   
   <!-- 댓글등록 -->
    <insert id="insertComment" parameterType="comment">
       INSERT INTO CARECOMMENT VALUES(SEQ_CARECOMMENT.NEXTVAL, 
                               #{careNo}, #{commentLevel},#{commentContent},
                                #{commentRef},DEFAULT)
    </insert>
    
    <!-- 댓들 목록 -->
    <select id="commentList" resultType="comment">
    	SELECT *
    	FROM CARECOMMENT C, MEMBER M
    	WHERE M.MEMBERNO=C.MEMBERNO 
    	ORDER BY #{commentNo}
    
    
    
    </select>
    
    
    
</mapper>