<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="care">
  
  <!-- 돌보미 찾기 게시판 페이징처리 -->
    <select id="careNotice" resultType="care">
     	SELECT * FROM CARENOTICE WHERE ANSWERSTATUS='Y' AND CARESTATUS='Y' ORDER BY CAREDATE DESC
    </select>
    
    <!-- 돌보미 찾기 게시판 글개수 -->
    <select id="careCount2" resultType="_int">
       SELECT COUNT(*) FROM CARENOTICE WHERE CARESTATUS='Y'
    </select>
    
    
    <!-- 조회수 올리기 -->
    <update id="plusCount" parameterType="_int">
    	UPDATE CARENOTICE SET CAREREADCOUNT = CAREREADCOUNT + 1 WHERE CARENO=#{careNo}
    </update>
    
    <!-- 검색어로 조회 -->
    <select id="searchContent" parameterType="map" resultType="care">
		SELECT * FROM CARENOTICE
			WHERE 1=1
		<if test="searchContent != null and searchContent !='' ">
			AND ${searchContent} like '%'||#{keyword}||'%'
		</if>
		ORDER BY CAREDATE DESC
	</select>
    
    
  <!--   돌보미 글 등록하기 -->
    <insert id="insertCare" parameterType="map">
       INSERT INTO CARENOTICE VALUES(SEQ_CARENOTICE.NEXTVAL,
                            #{careTitle},#{careWriter},
                            #{careContent},DEFAULT,DEFAULT,DEFAULT,DEFAULT)
       
       <selectKey keyProperty="careNo" resultType="String" order="AFTER">
          SELECT SEQ_CARENOTICE.CURRVAL FROM DUAL
       </selectKey>
    </insert>
    
   <!-- 돌보미 첨부파일 등록하기 -->
    <insert id="insertAttachment" parameterType="attachment">
       INSERT INTO CAREATTACHMENT VALUES(SEQ_ATTACHMENT.NEXTVAL, 
                               #{careNo}, #{originalFilename},
                                #{renamedFilename},DEFAULT,DEFAULT,
                                DEFAULT)
    </insert> 
    
    <!--돌보미 상세페이지  -->
    <select id="careView" parameterType="_int" resultType="care">
    	SELECT * FROM CARENOTICE WHERE CARENO=#{cno}
    </select> 
     
    <select id="selectCareFile" parameterType="_int" resultType="attachment">
    	SELECT * FROM CAREATTACHMENT WHERE CARENO=#{cno}
    </select>
  	
  	
   <!--돌보미 수정페이지  -->
    <select id="updateView" parameterType="_int" resultType="care">
    	SELECT * FROM CARENOTICE WHERE CARENO=#{no}
    </select> 
    
     <select id="updateViewFile" parameterType="_int" resultType="attachment">
    	SELECT * FROM CAREATTACHMENT WHERE CARENO=#{no}
    </select> 
  	
  	<!--돌보미 수정하기 -->
  	<update id="updateCare" parameterType="care">
		UPDATE CARENOTICE SET CARETITLE=#{careTitle},CARECONTENT=#{careContent} WHERE CARENO=#{no}		
	</update>
	
	 <!-- 돌보미 첨부파일 등록하기 -->
    <update id="updateCareAttachment" parameterType="attachment">
       UPDATE CAREATTACHMENT SET ORIGINALFILENAME=#{originalFilename},
                                RENAMEDFILENAME=#{renamedFilename},UPLOADDATE=DEFAULT WHERE CARENO=#{careNo}
                                
    </update> 
	

  	<!-- 돌보미 삭제 -->
  	<update id="deleteCare" parameterType="care">
		UPDATE CARENOTICE SET CARESTATUS='N' WHERE CARENO=#{no}	
	</update>
   
  
   
   <!-- 댓글등록 -->
    <insert id="insertComment" parameterType="comment">
       INSERT INTO CARECOMMENT VALUES(SEQ_COMMENTNO.NEXTVAL,#{memberNo},
                               #{commentLevel},#{commentWriter},#{commentContent},
                                #{careNo},null,DEFAULT)
    </insert>
    
   <!-- 대댓글등록 -->
    <insert id="insertComment2" parameterType="comment">
       INSERT INTO CARECOMMENT VALUES(SEQ_COMMENTNO.NEXTVAL,#{memberNo},
                               #{commentLevel},#{commentWriter},#{commentContent},
                                #{careNo},#{commentRef},DEFAULT)
    </insert> 
    
    <!-- 댓글 목록 -->
    <select id="commentList" resultType="comment">
    	SELECT * FROM CARECOMMENT C, MEMBER M 
    	WHERE C.MEMBERNO = M.MEMBERNO 
		AND CARENO=#{no} START WITH COMMENTLEVEL=1 
		CONNECT BY PRIOR COMMENTNO=COMMENTREF
       
    </select>
    
    <!-- 댓글 삭제 -->
    <delete id="replydelete" parameterType="_int">
    	DELETE FROM CARECOMMENT WHERE COMMENTNO=#{no}
    </delete>
    
    <!-- 댓글 개수 -->
    <select id="commentCount" resultType="_int">
       SELECT COUNT(*) FROM CARECOMMENT WHERE CARENO=#{no}
    </select>
    
    <!-- 댓글 수정  -->
    <update id="replyupdate" parameterType="comment">
    	 UPDATE CARECOMMENT SET COMMENTCONTENT=#{commentContent} WHERE COMMENTNO=#{commentNo}	 
    </update>
    
    
<!--========================================= admin ===========================================  -->  

<!-- 돌보미 등록 관리 페이징처리 -->
    <select id="adminCareNotice" resultType="care">
     	SELECT * FROM CARENOTICE WHERE CARESTATUS='Y' ORDER BY CAREDATE DESC
    </select>
    
     <!-- 돌보미 찾기 게시판 글개수 -->
    <select id="careCount" resultType="_int">
       SELECT COUNT(*) FROM CARENOTICE WHERE CARESTATUS='Y'
    </select>
    
<!-- 오늘 등록된 글 개수 --> 
	<select id="todayCount" resultType="int">
		SELECT COUNT(*) FROM CARENOTICE WHERE TO_CHAR(CAREDATE,'YY/MM/DD')=TO_CHAR(SYSDATE,'YY/MM/DD') AND CARESTATUS='Y'
	</select>
 
<!-- 돌보미 승인페이지 이동 -->    
    <select id="careAnswerView" parameterType="_int" resultType="care">
    	SELECT * FROM CARENOTICE WHERE CARENO=#{no}
    </select>
    
     <select id="selectCareFile2" parameterType="_int" resultType="attachment">
    	SELECT * FROM CAREATTACHMENT WHERE CARENO=#{no}
    </select> 
  
 <!-- 돌보미 승인하기 -->  
    <update id="careNoticeYes" parameterType="care">
		UPDATE CARENOTICE SET ANSWERSTATUS='Y' WHERE CARENO=#{no}
	</update>
	
<!-- 돌보미 삭제 -->
  	<update id="deleteCare2" parameterType="_int">
		UPDATE CARENOTICE SET CARESTATUS='N' WHERE CARENO=#{no}
	</update>
	
	
</mapper>