<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="hospital">
	<insert id="insertData" parameterType="hospital">
		INSERT INTO HOSPITAL VALUES(#{hospNo}, #{hospName}, #{hospAddr}, #{hospUrl}, #{hospTel}, #{latitude}, #{longitude})
	</insert>
	
	<select id="selectList" parameterType="string" resultType="hospital">
		SELECT * FROM HOSPITAL WHERE HOSPNAME LIKE '%'||#{name}||'%'
	</select>
	
	<insert id="insertData2" parameterType="hospital2">
		INSERT INTO HOSPITAL2 VALUES(#{hospId}, #{hospName}, #{hospAddr}, #{hospTel}, #{hospDirections}, #{hospLat}, #{hospLon}, #{medicalDepartment}, #{officeHour1}, #{officeHour2}, #{officeHour3}, #{officeHour4}, #{officeHour5}, #{officeHour6}, #{officeHour7}, #{officeHour8})
	</insert>
	<select id="hospitalCount" resultType="_int">
		SELECT COUNT(*) FROM HOSPITAL2
	</select>
</mapper>
