<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="member">
	<insert id="insertPerson" parameterType="member">
		INSERT INTO MEMBER VALUES(SEQ_USER_NO.NEXTVAL,
								  #{email},
								  #{name},
								  #{password},
								  #{phone},
								  SYSDATE)
	</insert>
	<select id="memberLogin" parameterType="member" resultType="com.web.spring.member.model.vo.Member">
		SELECT * FROM MEMBER WHERE EMAIL = #{email}
	</select>
</mapper>
