<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="member">
	<insert id="insertPerson" parameterType="member">
		INSERT INTO MEMBER VALUES(SEQ_USER_NO.NEXTVAL,
								  #{email},
								  #{name},
								  #{password},
								  #{phone},
								  SYSDATE)
	</insert>
	<select id="memberLogin" parameterType="member" resultType="member">
		SELECT * FROM MEMBER WHERE EMAIL = #{email}
	</select>
	<select id="findEmail" parameterType="member" resultType="member">
		SELECT * FROM MEMBER WHERE EMAIL = #{email}
	</select>
	<select id="selectMember" parameterType="member" resultType="member">
		SELECT * FROM MEMBER WHERE EMAIL = #{email}
	</select>
	<select id="searchEmail" parameterType="string" resultType="member">
		SELECT * FROM MEMBER WHERE EMAIL = #{email}
	</select>
	<select id="emailSendPW" parameterType="member" resultType="member">
		SELECT PASSWORD FROM MEMBER WHERE EMAIL = #{email}
	</select>
	<!-- <update id="emailSendPW" parameterType="member">
		SELECT PASSWORD FROM MEMBER WHERE EMAIL = #{email}
		UPDATE MEMBER SET PASSWORD = #{password} WHERE EMAIL=#{email}
	</update> -->
	
</mapper>
